<!DOCTYPE html>
<html>
<head>
    <title>Text Summary Generator</title>
</head>
<body>

    <h1>Text Summary Generator</h1>
    <form method="POST">
        <input type="text" name="message" placeholder="Type a message..." required>
        <button type="submit">Send</button>
    {% if  chat_exit %}
        <p><b>Chat ended. </b> Run again to start chatting</p>

    {% else %}
        <p><b>You:</b> {{ user_message }}</p>
        <p><b>Bot:</b> {{ bot_reply }}</p>

    {% endif %}
    </form>
</body>
</html>